body{
  background-color:#EFFCEF;
}
/* #CCEDD2 vert claire
#94D3AC vert moyen
#655C56 vert fonce */

.App{
  background-color:#655C56;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form input {
  background-color: #CCEDD2;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 4px;
  color: #655C56;
}
#to-do-form input::placeholder{
  color:#655C56;
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border: 0;
  border-radius: 4px;
  background-color: #94D3AC;
  cursor: pointer;
  font-weight: bolder;
  color: #655C56;
}

#to-do-form button:focus{
  outline: none;
}